body {
  font-family: "Courier New", Courier, monospace;
}

.text-center {
  text-align: center;
}

li {
  list-style: none;
}

.task-list {
  background: grey;
  margin: auto;
  width: 300px;
  text-align: left;
  padding: 20px;
}